* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff;
  color: #222;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  line-height: normal;
}

button,
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

body {
  font-size: 100%;
}

.header {
  color: #fff;
  background: #0175a4;
  height: 3.4em;
  padding: 0.5em 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.wrapper {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.wrapper.content {
  margin: 4.5em auto 2em;
  overflow: hidden;
}

img {
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

h1 {
  float: left;
  margin: 0 0 0 1em;
  line-height: 2.3em;
  font-size: 1.25em;
}

h2 {
  margin: 1.5em 0 0.5em;
  font-size: 1.25em;
  font-weight: bold;
}

#url {
  float: left;
  display: block;
  margin: auto;
  width: 69%;
  padding: 0.8em 0.5em;
  border: 1px solid #bbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#urllabel {
  display: block;
  margin: 1em auto;
}

.blue { color: #0175a4 }

#preview-url {
  color: #0175a4;
  word-wrap: break-word;	
}

#refresh {
  background-color: #0175a4;
  color: #fff;
  border: 1px solid transparent;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0.8em 0;
  width: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#url:focus {
  outline: -webkit-focus-ring-color auto 0;
  border: 1px solid #0175a4;
}

.form-feedback {
  float: left;
  width: 100%;
  font-size: 14px;
  margin-top: 1em;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-success {
  background-color: #b1d2fa;
  padding: 0.4em 0.5em;
}

.form-error {
  background-color: #ee9292;
  padding: 0.4em 0.5em;
}
